html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 160px;
    min-height: 80vh;
    background-image: url('https://get.pxhere.com/photo/background-food-tasty-olives-wooden-background-cooking-plate-kitchen-gourmet-nutrition-dish-delicious-appetizer-gastronomy-dinner-salt-pepper-table-spices-spoons-tomatoes-greens-cheese-1369813.jpg');
    background-repeat: no-repeat;
    background-size: 100% 60vh;
    background-position-x: 50%;
    background-position-y: top;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: orangered;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 200;
}
#logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 12px;
}
#logo i {
    margin-right: 12px;
    font-size: 2rem;
}
#hamburger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
}
#hamburger {
    display: block;
    cursor: pointer;
    margin-right: 18px;
}
#side-menu {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 270px;
    background: #fff;
    color: #222;
    box-shadow: -2px 0 8px rgba(0,0,0,0.05);
    transition: right 0.3s;
    z-index: 300;
    padding-top: 15px;
}
#side-menu.active {
    right: 0;
}
#close-btn {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: orangered;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
#category-list {
    list-style: none;
    padding: 50px 20px 10px 20px;
    margin: 0;
}
#category-list li {
    font-size: 1.08rem;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
#category-list li:hover {
    color: orangered;
    background: #f9f9f9;
}
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;
    background: rgba(0,0,0,0.18);
    z-index: 100;
}
.overlay.active {
    display: block;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.meals-heading, .categories-title, .details-heading {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 18px;
    margin-top: 90px;
    text-align: left;
    margin-left: -1300px;
   
}

.search-area {
    background: #fff;
    background-repeat: no-repeat;
    background: fixed;
    background-size: 100%;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 8px #0001;
    padding: 32px 24px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    width: 100%;
}
.search-box input {
    width: 70%;
    padding: 12px 14px;
    font-size: 1.1rem;
    border: 1px solid #eee;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.search-box button {
    background: orangered;
    border: none;
    color: #fff;
    padding: 12px 18px;
    font-size: 1.1rem;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}
.question, .subtext{
    text-align: center;
    margin-bottom: 8px;
    width: 100%;
}
.question {
    font-size: 1.25rem;
    color: #f9f3f3;
    font-weight: bold;
    margin: 16px 0 6px 0;
}
.subtext {
    color: #f9f3f3;
    font-size: 1rem;
    margin-bottom: 0;
}

.search-results-container, .meal-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
}

.result-card {
    background: #fff;
    border-radius: 10px;
    width: 230px;
    min-width: 220px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px #0001;
    padding: 24px 18px;
    margin-top: 24px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .2s;
}
.result-card:hover {
    box-shadow: 0 2px 18px #0003;
}
.result-card .cuisine {
    font-size: 1rem;
    color: #888;
    margin-bottom: 8px;
    font-weight: 600;
}
.result-card img {
    width: 180px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}
.result-card h3 {
    font-size: 1.1rem;
    color: #444;
    font-weight: 600;
    margin: 12px 0 0 0;
}

.categories-row {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 10px;
}
.category-card {
    background: #fff;
    border-radius: 10px;
    width: 230px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 8px #0001;
    padding: 24px 18px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .2s;
}
.category-card:hover {
    box-shadow: 0 2px 18px #0003;
}
.category-card img {
    width: 250px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    margin-top:5px;
}
.category-card span {
    font-size: 1.1rem;
    color: #222;
    font-weight: 600;
}

.meal-details-container {
    display: flex;
    gap: 30px;
    padding: 30px;
}
.details-img {
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.meal-info {
    flex: 2;
    text-align: left;
}
.ingredients-list {
    list-style: none;
    padding-left: 0;
    margin-top: 12px;
}
.ingredients-list li {
    background: #ffecd2;
    display: inline-block;
    margin: 4px 8px 4px 0;
    padding: 5px 15px;
    border-radius: 6px;
    color: #623b17;
    font-size: 0.98rem;
    font-weight: 500;
}
.not-found {
    width: 100%;
    text-align: center;
    color: rgb(16, 16, 16);
    font-size: 1.2rem;
    margin-top: 35px;
}



.meal-details-container {
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 28px 24px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 16px #0001;
    margin: 22px 0 30px 0;
}
.details-img {
    width:40%;
    height: 850px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}
.meal-info {
    flex: 2;
    text-align: left;
}
.meal-title-detail {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0;
    color: #222;
}
.meal-meta {
    margin-bottom: 16px;
    font-size: 1rem;
    color: #555;
}
.meal-meta a {
    color: #ca5010;
    text-decoration: underline;
    word-break: break-all;
}

/* Orange box with ingredient pills and icons*/
.ingredients-box {
    background: #eb5310;
    color: #fff;
    border-radius: 8px;
    padding: 16px 18px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 370px;
}

.ingredients-title {
    font-weight: bold;
    font-size: 1.07rem;
    margin-bottom: 6px;
}

.ingredient-list-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 10px;
}

.ingredient-pill {
    background: #fff7e6;
    color: #111111;
    border-radius: 22px;
    padding: 5px 16px;
    font-size: 1.03rem;
    margin: 0 4px 6px 0;
    font-weight: 600;
    box-shadow: 0 2px 4px #0001;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Measures pills */
.measure-box {
    margin: 18px 0 10px 0;
}
.measure-title {
    font-weight: bold;
    font-size: 1.07rem;
    margin-bottom: 8px;
}
.measure-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 10px;
}
.measure-pill {
    background: #edecec;
    color: #545454;
    border-radius: 18px;
    padding: 4px 13px;
    font-size: 1.00rem;
    margin: 0 5px 6px 0;
    font-weight: 500;
    box-shadow: 0 2px 2px #0001;
    display: flex;
    align-items: center;
}

/* Instructions are normal */
.instructions-title {
    font-weight: bold;
    font-size: 1.07rem;
    margin: 20px 0 10px 0;
    color: #444;
}
.description-area {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #484848;
    background: none;
    border-radius: 0;
    margin-bottom: 0;
}


/* Instructions list styled as nice points */
.description-area ul {
    list-style-type: disc;          /* bullet points */
    padding-left: 22px;             /* space from left edge */
    margin: 0;
}

.description-area  li {
    margin-bottom: 6px;             /* space between steps */
    line-height: 1.6;
    font-size: 1.03rem;
    color: #444;
}

/* optional: use a custom icon instead of default bullet */
.description-area li::marker {
    color: #3a03d1;                 /* bullet color */
    font-size: 1.1rem;
}


